import { FC } from "react";
{{#if className}}
import clsx from "clsx";
{{/if}}

{{#ifOr children className}}
import { {{#if children}}WithChildren{{/if}}{{#if className}}{{#if children}}, {{/if}}WithClassname{{/if}} } from "types/components";

{{/ifOr}}
import classes from "./{{ properCase name }}.module.scss";

const {{ properCase name }}: FC<{{ properCase name }}Props> = ({{#ifOr children className}}{ {{#if children}}children{{/if}}{{#if className}}{{#if children}}, {{/if}}className{{/if}} }{{/ifOr}}) => {
    return <div className={
        {{~#if className}}clsx({{/if}}classes["container"]{{#if className}}, className){{/if~}}
        }>{{#if children}}{children}{{/if}}</div>;
};

interface {{ properCase name }}Props {{#ifOr children className}}extends {{#if children}}WithChildren{{/if}}{{#if className}}{{#if children}}, {{/if}}WithClassname{{/if}}{{/ifOr}} {
    // Remove me
}

export default {{ properCase name }};
